
$primary   : #338dd6
$secondary : #00a2a8
$accent    : #6341a1

$dark      : #1e2028

$positive  : #0da74d
$negative  : #dc494b
$info      : #6bb5b3
$warning   : #df8b3c

// $separator-color         : rgba(0, 200, 0, .92) !default

